<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <title>Information about Arsen Neroda</title>
</head>
<body>
    <div>
    <h1>Інформація про Нероду Арсена</h1>
    <h3>Студент групи ІО-04, заліковка ІО-0416</h3>
    <img src="https://i.gifer.com/7SvE.gif" width="30%" height="30%" alt="programmer gif">
        <a class="back" href="/team">На головну сторінку</a>
    </div>
</body>
</html>