<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>Information about Dmytro Voznytsia</title>
</head>
<body>
    <div>
    <h1>Інформація про Возницю Дмитра</h1>
    <h3>Студент групи ІО-04, заліковка ІО-0403</h3>
    <img src="https://thumbs.gfycat.com/HeavyLiquidAnnelid-size_restricted.gif" width="30%" height="30%" alt="programmer gif">
    <a class="back" href="index.html">На головну сторінку</a>
    </div>
</body>
</html>