<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <title>Information about our team</title>
</head>
<body>
    <div>
        <h1>Наша команда</h1>
        <h3>Ми активні студенти, одногрупники, та просто любителі джави та спрінга. Для нас немає перешкод, ми можемо зробити все, треба тільки трішки подумати :)</h3>
        <a class="main" href="team/arsen">Нерода Арсен</a>
        <a class="main" href="team/roma">Водзінський Роман</a>
        <a class="main" href="team/dima">Возниця Дмитро</a>
    </div>
</body>
</html>